doctype 5
html
    head
        title
            =title
        !=wp_head()
        link(rel='stylesheet',href=get_stylesheet_directory_uri()+'/style.css', type='text/css', media='all')

    body(class=get_body_classes())
        #page.hfeed.site
            header(id='masthead',class='site-header', role='banner')
              include header/default
            #main.site-main
                block content

            footer.content
              include footer/default