article(id='post-'+post.id, class=get_post_classes(), pubdate)
    header.entry-header
        h2.entry-title
            a(href=post.permalink, rel='bookmark')
                span= post.title()
        .meta
          .author
            span by
              a(href= post.authorUrl())=post.author()
          time.entry-date(datetime=get_the_date())
             !=get_post_entry_date()
    #post_content
        != post.content()