extends layouts\default
block content
    if post:
        article(id='post-'+get_the_ID(), class=get_post_classes(), pubdate)
            header.entry-header
                h2.entry-title
                    span= get_the_title()
                .meta
                  != post.publicationDate()
            #post_content
                != get_the_content()
    else
      p No post was found here!